ocewsd/src/main/webapp/WEB-INF/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://www.san.com/calculator" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://server.calculator.san.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://server.calculator.san.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.san.com/calculator">
            <xs:element name="addNumbers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNumbersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addNumbersRequest">
        <wsdl:part name="parameters" element="ns:addNumbers"/>
    </wsdl:message>
    <wsdl:message name="addNumbersResponse">
        <wsdl:part name="parameters" element="ns:addNumbersResponse"/>
    </wsdl:message>
    <wsdl:portType name="MathUtilServicePortType">
        <wsdl:operation name="addNumbers">
            <wsdl:input message="tns:addNumbersRequest" wsaw:Action="urn:addNumbers"/>
            <wsdl:output message="tns:addNumbersResponse" wsaw:Action="urn:addNumbersResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MathUtilServiceSoap11Binding" type="tns:MathUtilServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addNumbers">
            <soap:operation soapAction="urn:addNumbers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathUtilServiceSoap12Binding" type="tns:MathUtilServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addNumbers">
            <soap12:operation soapAction="urn:addNumbers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathUtilServiceHttpBinding" type="tns:MathUtilServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addNumbers">
            <http:operation location="addNumbers"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MathUtilService">
        <wsdl:port name="MathUtilServiceHttpSoap11Endpoint" binding="tns:MathUtilServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MathUtil"/>
        </wsdl:port>
        <wsdl:port name="MathUtilServiceHttpSoap12Endpoint" binding="tns:MathUtilServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MathUtil"/>
        </wsdl:port>
        <wsdl:port name="MathUtilServiceHttpEndpoint" binding="tns:MathUtilServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MathUtil"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
